/* GENERAL -------------------------------------------------------------------- */

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Force HTML5 markup to display in IE6-9 and FF3 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

body {
  background: #fff;
  color: #222;
  font-size: 16px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  max-width: 640px; /* 960 * (2/3) */
  margin: 10px auto;
  padding: 10px;
}

/* UTILITIES -----------------------------------------------------------------  */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* TYPOGRAPHY ----------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: 400;
  line-height: 1.33em;
  margin: 0.666666667em 0;
}

h1, .h1 {
  font-size: 35px;
}

h1 + .subheader {
  margin: -1em 0 -1em 0;
}

h2, .h2 {
  font-size: 26px;
}

h3, .h3 {
  font-size: 22px;
}

h4, .h4 {
  font-size: 18px;
}

h5, .h5 {
  font-size: 16px;
}

h6, .h6 {
  font-size: 15px;
}

p, li {
  line-height: 1.66em;
  margin: 0.5em 0;
}

ul {
  list-style: none;
}

strong {
  font-weight: 900;
}

em {
  font-style: italic;
}

pre {
  font-size: 12px;
  font-family: monospace;
  margin: 1.5em 0;
}

code {
  font-family: monospace;
}

p code {
  font-size: 0.9em;
}

pre code {
  font-family: Monaco, Consolas, 'Lucida Console', monospace;
}

ul, ol {
  margin: 10px 0;
}
  ul li, ol li {
    margin: 0.5em 0;
  }

hr {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  background: #fff;
  margin: 10px 0;
}

.logo {
  font-size: 35px;
}
  .logo img {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
  }
  h2.logo img {
    opacity: 0.5;
    margin-bottom: 10px;
  }

/* OTHER ---------------------------------------------------------------------- */

a {
  color: #618199; /* Slate blue */
  text-decoration: none;
}

a:focus {
  text-decoration: underline;
  outline: 0;
}

a:hover,
a:active {
  text-decoration: none;
  outline: 0;
  color: #666;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

footer, header {
  margin: 40px 0;
}

header {
  margin-top: 0;
}

/* COMPONENTS ----------------------------------------------------------------- */

.link-list {
  line-height: 2em;
}

.square-link {
  padding: 0.25em 0;
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
  line-height: 1.33em;
  display: inline-block;
  margin: 0.25em 0.5em 0.25em 0;
  letter-spacing: 0.2em;
}

.tags li {
  display: inline-block;
  margin-right: 0.5em;
}
  .tags li a {
    display: inline-block;
    border-radius: 3px;
    border: 1px solid #ddd;
    font-family: "Helvetica Neue";
    padding: 0.25em 0.5em;
    font-size: 12px;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
  }
  .tags li a:hover,
  .tags li a:focus {
    border: 1px solid rgba(237, 73, 165, 0.5);
    text-decoration: none;
  }

.interpost-navigator {
  display: flex;
}
  .interpost-navigator .direction {
    flex: 1;
  }

  .interpost-navigator .direction.next {
    text-align: right;
  }


/* PROCESSED MARKDOWN --------------------------------------------------------- */

.markdown {
  margin-bottom: 40px;
}

  .markdown ul {
    list-style-type: disc;
    list-style-position: inside;
    margin: 20px 0;
  }

  .markdown ol {
    margin: 20px 0;
  }
    .markdown ol li {
      list-style-position: inside;
    }

  .markdown hr {
    margin: 40px 0;
    border-bottom: 1px dotted #ddd;
  }

  .markdown img {
    margin: 20px 0;
  }
