/* GENERAL -------------------------------------------------------------------- */

* {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Force HTML5 markup to display in IE6-9 and FF3 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

body {
  background: #fff;
  color: #222;
  font-size: 16px;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  max-width: 960px;
  margin: 10px auto;
  padding: 10px;
}

/* TYPOGRAPHY ----------------------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font-weight: 900;
  line-height: 1.33em;
  margin: 0.5em 0;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 15px;
}

h6 {
  font-size: 14px;
}

p {
  line-height: 1.66em;
  margin: 0.5em 0;
}

ul,
ol {
  list-style: none;
}

strong {
  font-weight: 900;
}

em {
  font-style: italic;
}

pre {
  font-size: 12px;
  font-family: monospace;
  margin: 1.5em 0;
}

code {
  font-family: monospace;
}

p code {
  font-size: 0.9em;
}

pre code {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
}

ul {
  margin: 10px 0;
}
  ul li {
    margin: 0.5em 0;
  }

hr {
  border: 0;
  border-bottom: 1px dotted #ccc;
  background: #fff;
  margin: 10px 0;
}

.logo {
  background: rgba(255, 0, 194, 1);
  color: rgba(250,250,250,1);
  display: inline-block;
  padding: 0.2em 0.5em;
  font-weight: 100;
}
  .logo a, .logo a:hover {
    color: rgba(250,250,250,1);
  }

  .logo a:focus {
    background: none;
    text-decoration: underline;
  }

/* OTHER ---------------------------------------------------------------------- */

a {
  color: #073334;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: none;
  outline: 0;
  color: #666;
}

a:focus {
  text-decoration: none;
  outline: 0;
  background: #444;
  color: #eee;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

footer, header {
  margin: 40px 0;
}

header {
  margin-top: 0;
}

/* COMPONENTS ----------------------------------------------------------------- */

.icon-list {
  font-size: 20px;
}
  .icon-list li {
    display: inline-block;
    margin-right: 1em;
  }

.square-link {
  border: 1px solid rgba(0,0,0,0.25);
  padding: 0.25em 0.5em;
  font-family: monospace;
  font-size: 12px;
  line-height: 1.33em;
  display: inline-block;
  margin: 0.25em 0.5em 0.25em 0;
}
