footer
  ul.icon-list
    li
      a(href='http://twitter.com/gvn', target='_blank')
        i.fa.fa-twitter
    li
      a(href='http://github.com/gvn', target='_blank')
        i.fa.fa-github-alt
    li
      a(href='http://wetcat.org', target='_blank')
        i.fa.fa-tumblr

  div
    a(href='http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US', target='_blank')
      img(src='http://i.creativecommons.org/l/by-nc-sa/3.0/80x15.png')
