footer
  a.square-link.no-border(href='http://twitter.com/gvn', target='_blank')
    i.icon-twtr
    |  twitter / gvn

  br

  a.square-link.no-border(href='http://github.com/gvn', target='_blank')
    i.icon-gh
    |  github / gvn

  br
  br

  a.square-link.square-link-black(href='http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US', target='_blank')
    i.icon-cc
    |  BY-NC-SA
