footer
  a.square-link(href='http://twitter.com/gvn', target='_blank')
    i.icon-twtr
    |  twitter/gvn

  a.square-link(href='http://github.com/gvn', target='_blank')
    i.icon-gh
    |  github/gvn

  br

  a.square-link(href='http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US', target='_blank')
    i.icon-cc
    |  BY-NC-SA
