title=title
meta(name='description', content=description)
meta(name='viewport', content='width=device-width, target-densitydpi=160dpi, initial-scale=1.0')
link(href='/css/reset.css', media='all', rel='stylesheet', type='text/css')
link(href='/css/glyphs.css', media='all', rel='stylesheet', type='text/css')
