title=global.title
meta(name='description', content=global.description)
meta(name='viewport', content='width=device-width, target-densitydpi=160dpi, initial-scale=1.0')
link(href=global.root+'css/reset.css', media='all', rel='stylesheet', type='text/css')
link(href=global.root+'css/glyphs.css', media='all', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Oxygen:300', rel='stylesheet', type='text/css')
