html
  head
    include header.jade
  body
    header
      h1.logo
        span.sr-only=global.title
        img(src='/blog/img/wordmark.png')
      p
        em=global.description

    ul.link-list
      each val in posts
        li
          a(href=val.path)=val.title

    //- post object properties:

    //- title
    //- date
    //- template
    //- collection
    //- contents
    //- path
    //- next

    include footer.jade
