html
  head
    include header.jade
  body
    h2.logo
      span.sr-only=global.title
      a(href="/")
        img(src='/blog/img/wordmark.png')

    header
      h2
        span Posts tagged&nbsp;
        strong &ldquo;#{tag}&rdquo;

    ul.link-list
      each val in pagination.files
        li
          a(href="/" + val.path)=val.title

    hr

    include footer.jade
